
body {
    font-family: 'lato', sans-serif;
  }

.main-dashboard {
    width: 90vw;
    height: 70vh;
    border: 1px solid #000;
    margin: auto;
    border-radius: 1em;
}

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  

  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  
  .responsive-table .col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 20%;
  }
  .responsive-table .col-3 {
    flex-basis: 20%;
  }
  .responsive-table .col-4 {
    flex-basis: 30%;
  }
  .responsive-table .col-5 {
    flex-basis: 10%;
  }
  .responsive-table .col-6 {
    flex-basis: 10%;
  }
  .responsive-table .full-col {
    flex-basis: 100%;
    border: 1px solid #95A5A6;
    text-align: center;
  }

  .full-col span {
    margin: auto auto;
  }
  .container-table {
    overflow-y: scroll;
    height: 43vh;
  }
  .table-row {
    border-bottom: #95A5A6 1px solid;
  }