<div class="main-dashboard">
    <div class="table">

        <div class="container">
            <h2>Vehicles sales list</h2>
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Deal Number</div>
                <div class="col col-2">Customer Name</div>
                <div class="col col-3">Dealership Name</div>
                <div class="col col-4">Vehicle</div>
                <div class="col col-5">Price</div>
                <div class="col col-6">Date</div>
              </li>
              <div class="container-table">
                <li class="col full-col" *ngIf="vehicleSales.length === 0"> <span>NO DATA</span></li>
                <li *ngFor="let vehicle of vehicleSales" class="table-row">
                  <div class="col col-1" data-label="Job Id"> {{ vehicle.dealNumber }} </div>
                  <div class="col col-2" data-label="Customer Name"> {{ vehicle.customerName }} </div>
                  <div class="col col-3" data-label="Customer Name"> {{ vehicle.dealershipName }} </div>
                  <div class="col col-4" data-label="Customer Name"> {{ vehicle.vehicle }} </div>
                  <div class="col col-5" data-label="Amount"> CAD${{ vehicle.price }} </div>
                  <div class="col col-6" data-label="Payment Status">{{ vehicle.date }}</div>
                </li>
              </div>
              
            </ul>
          </div>
    </div>
</div>
